@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --vh: 5.2px;
  --preview-theme-background-image: url(null);
  --preview-theme-background-opacity: 1;
  --preview-theme-background-position: undefined;
  --preview-theme-background-size: auto;
  --preview-theme-background-repeat: undefined;
  --preview-theme-font-size: 16px;
  --preview-theme-button-color: #118eb7;
  --preview-theme-answer-color: #333;
  --preview-theme-answer-color-contrast: #ffffff;
  --preview-theme-answer-color-light: rgba(51, 51, 51, 0.4);
  --preview-theme-answer-color-lighter: rgba(51, 51, 51, 0.2);
  --preview-theme-answer-color-lightest: rgba(51, 51, 51, 0.1);
  --preview-theme-answer-color-dark: #1;
  --preview-theme-background-color: #f1f1f1;
  --preview-theme-background-color-contrast: #000000;
  --preview-theme-background-color-lighter: rgba(241, 241, 241, 0.2);
  --preview-theme-background-color-lightest: rgba(241, 241, 241, 0.1);
  --preview-theme-background-color-light: rgba(241, 241, 241, 0.8);
  --preview-theme-background-color-dark: #dddddd;
  --preview-theme-button-color-contrast: #ffffff;
  --preview-theme-button-color-light: rgba(17, 142, 183, 0.8);
  --preview-theme-button-color-dark: #784ad;
  --preview-theme-button-color-lightest: rgba(17, 142, 183, 0.1);
  --preview-theme-question-color: #333;
  --preview-theme-question-color-light: rgba(51, 51, 51, 0.8);
  --preview-theme-question-color-lighter: rgba(51, 51, 51, 0.2);
  --preview-theme-question-color-dark: #1;
  --preview-theme-accent-color: #118eb7;
  --preview-theme-accent-color-contrast: #ffffff;
  --preview-line-height: 1.75rem;
  --ck-highlight-marker-yellow: #fffd38;
  --ck-highlight-marker-green: #72ff00;
  --ck-highlight-marker-pink: #ff00e9;
  --ck-highlight-marker-blue: #00ffff;
  --ck-highlight-marker-red: #ff0000;
  --ck-highlight-marker-green: #00ff00;
}

button[disabled],
.disabled {
  background-color: #d8dbe0;
  color: #3e434d;
  opacity: 1;
  cursor: not-allowed !important;
}

.marker-yellow {
  background-color: var(--ck-highlight-marker-yellow);
}

.marker-green {
  background-color: var(--ck-highlight-marker-green);
}

.marker-pink {
  background-color: var(--ck-highlight-marker-pink);
}

.marker-blue {
  background-color: var(--ck-highlight-marker-blue);
}

.marker-red {
  background-color: var(--ck-highlight-marker-red);
}

.marker-green {
  background-color: var(--ck-highlight-marker-green);
}

body {
  font-size: 14px;
  font-family: Roboto, sans-serif !important;
}

.ck a {
  all: revert;
}

.ck-show-toolbar-wrapper .ck-editor__top {
  display: block;
}

.ck-show-toolbar-wrapper .ck.ck-toolbar > .ck.ck-toolbar__items > * {
  margin: 0.1rem;
  min-height: 1.4rem;
  min-width: 1.4rem;
}

.ck-show-toolbar-wrapper .ck.ck-toolbar > .ck.ck-toolbar__items > * svg {
  width: 0.9rem;
  height: 0.9rem;
}

.ck-show-toolbar-wrapper .ck-editor__main {
  border-radius: 0 0 0.25rem 0.25rem;
}

.ck-editor__main {
  border-radius: 0.25rem;
  border: 0.063rem solid #bbbdc0;
  padding: 0.5rem;
  overflow-y: auto;
  color: #3e434d;
}

.ck-editor__main::-webkit-scrollbar {
  width: 1.5rem;
}

.ck-editor__main::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem 0.5rem transparent;
}

.ck-editor__main::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0.5rem 0.5rem #f0f2f5;
  border: 0.5rem solid transparent;
  border-radius: 1rem;
  min-height: 2rem;
}

.ck-editor__main:hover {
  border-color: #3b368e;
}

.ck-editor__main:focus {
  box-shadow: 0 0 0 2px rgba(59, 54, 142, 0.15);
}

.ck-editor__main p {
  margin: 0 !important;
}

.ck .ck-editor__editable_inline {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.ck-editor__main > .ck-editor__editable {
  border: none !important;
  box-shadow: none !important;
  min-height: 4rem !important;
}

.ck-editor__main > .ck-editor__editable::-webkit-scrollbar {
  width: 1.5rem;
}

.ck-editor__main > .ck-editor__editable::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem 0.5rem transparent;
}

.ck-editor__main > .ck-editor__editable::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0.5rem 0.5rem #f0f2f5;
  border: 0.5rem solid transparent;
  border-radius: 1rem;
  min-height: 2rem;
}

.ck-editor__main > .ck-editor__editable p {
  line-height: 2rem;
}

.ck .ck-placeholder:before {
  content: attr(data-placeholder);
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.ck .ck-placeholder:before {
  color: var(--ck-color-engine-placeholder-text);
  cursor: text;
}

.ck-reset_all :not(.ck-reset_all-excluded *),
.ck.ck-reset,
.ck.ck-reset_all {
  box-sizing: border-box;
  height: auto;
  /*position: static;*/
  width: auto;
}

.ck-reset_all :not(.ck-reset_all-excluded *),
.ck.ck-reset,
.ck.ck-reset_all {
  word-wrap: break-word;
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: none;
  vertical-align: middle;
}

.ck-reset_all :not(.ck-reset_all-excluded *),
.ck.ck-reset_all {
  border-collapse: collapse;
  color: var(--ck-color-text);
  cursor: auto;
  float: none;
  font: normal normal normal var(--ck-font-size-base) /
    var(--ck-line-height-base) var(--ck-font-face);
  text-align: left;
  white-space: nowrap;
}

.ck.ck-icon {
  vertical-align: middle;
}

.ck.ck-icon {
  font-size: 0.8333350694em;
  height: var(--ck-icon-size);
  width: var(--ck-icon-size);
  will-change: transform;
}

.ck.ck-icon,
.ck.ck-icon * {
  cursor: inherit;
}

.ck.ck-icon.ck-icon_inherit-color,
.ck.ck-icon.ck-icon_inherit-color * {
  color: inherit;
}

.ck.ck-icon.ck-icon_inherit-color :not([fill]) {
  fill: currentColor;
}

.ck.ck-button {
  align-items: center;
  display: inline-flex;
  justify-content: left;
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ck.ck-button .ck-button__label {
  display: none;
}

.ck.ck-button:not(.ck-button_with-text) {
  justify-content: center;
}

.ck.ck-button {
  background: var(--ck-color-button-default-background);
}

.ck.ck-button:not(.ck-disabled):hover {
  background: var(--ck-color-button-default-hover-background);
}

.ck.ck-button:not(.ck-disabled):active {
  background: var(--ck-color-button-default-active-background);
}

.ck.ck-button {
  border-radius: 0;
}

.ck-rounded-corners .ck.ck-button {
  border-radius: var(--ck-border-radius);
}

.ck.ck-button {
  -webkit-appearance: none;
  border: 1px solid transparent;
  cursor: default;
  font-size: inherit;
  line-height: 1;
  min-height: var(--ck-ui-component-min-height);
  min-width: var(--ck-ui-component-min-height);
  padding: var(--ck-spacing-tiny);
  text-align: center;
  transition: box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;
  vertical-align: middle;
  white-space: nowrap;
}

.ck.ck-button:active,
.ck.ck-button:focus {
  border: var(--ck-focus-ring);
  box-shadow: var(--ck-focus-outer-shadow), 0 0;
  outline: none;
}

.ck.ck-button .ck-button__label {
  color: inherit;
  cursor: inherit;
  font-size: inherit;
  font-weight: inherit;
  vertical-align: middle;
}

[dir="ltr"] .ck.ck-button .ck-button__label {
  text-align: left;
}

.ck.ck-toolbar {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ck.ck-toolbar > .ck-toolbar__items {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
}

.ck.ck-toolbar.ck-toolbar_grouping > .ck-toolbar__items {
  flex-wrap: nowrap;
}

.ck.ck-toolbar {
  border-radius: 0;
}

.ck-rounded-corners .ck.ck-toolbar {
  border-radius: var(--ck-border-radius);
}

.ck.ck-toolbar {
  background: var(--ck-color-toolbar-background);
  border: 1px solid var(--ck-color-toolbar-border);
  padding: 0 var(--ck-spacing-small);
}

.ck.ck-toolbar > .ck-toolbar__items > :not(.ck-toolbar__line-break) {
  margin-right: var(--ck-spacing-small);
}

.ck.ck-toolbar > .ck-toolbar__items > :not(.ck-toolbar__line-break) {
  margin-bottom: var(--ck-spacing-small);
  margin-top: var(--ck-spacing-small);
}

[dir="ltr"] .ck.ck-toolbar > .ck-toolbar__items > .ck:last-child {
  margin-right: 0;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  border-radius: 0;
}

.ck-rounded-corners .ck.ck-editor__editable:not(.ck-editor__nested-editable),
.ck.ck-editor__editable.ck-rounded-corners:not(.ck-editor__nested-editable) {
  border-radius: var(--ck-border-radius);
}

.ck.ck-editor__editable_inline {
  border: 1px solid transparent;
  overflow: auto;
  padding: 0 var(--ck-spacing-standard);
}

.ck.ck-editor__editable_inline[dir="ltr"] {
  text-align: left;
}

.ck.ck-editor__editable_inline > :first-child {
  margin-top: var(--ck-spacing-large);
}

.ck.ck-editor__editable_inline > :last-child {
  margin-bottom: var(--ck-spacing-large);
}

.ck.ck-editor__editable_inline.ck-blurred ::selection {
  background: var(--ck-color-editable-blur-selection);
}

.ck.ck-label {
  display: block;
}

.ck.ck-voice-label {
  display: none;
}

.ck.ck-label {
  font-weight: 700;
}

.ck.ck-editor {
  position: relative;
}

.ck.ck-editor .ck-editor__top .ck-sticky-panel .ck-toolbar {
  z-index: 1000;
}

.ck.ck-editor__top .ck-sticky-panel .ck-toolbar {
  border-radius: 0;
}

.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar {
  border-radius: var(--ck-border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ck.ck-editor__top .ck-sticky-panel .ck-toolbar {
  border-bottom-width: 0;
}

.ck.ck-editor__main > .ck-editor__editable {
  background: var(--ck-color-base-background);
  border-radius: 0;
}

.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
.ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  border-radius: var(--ck-border-radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  border-color: var(--ck-color-base-border);
}

/*! CSS Used from: Embedded */
.questionNumber_question_number_wrapper__eCXI_ {
  display: flex;
  justify-content: center;
  padding: 0 0.25rem 0 0.5rem;
  height: 2rem;
  grid-gap: 0.125rem;
  align-items: center;
  font-weight: 700;
  border-radius: 0.25rem;
}

.questionNumber_question_number_wrapper__eCXI_ .questionNumber_icon__nsjC6 {
  display: flex;
}

.questionNumber_question_number_wrapper__eCXI_ .questionNumber_icon__nsjC6 svg {
  vertical-align: middle;
}

.questionNumber_question_number_wrapper__eCXI_.questionNumber_ltr__n8kqK {
  padding: 0 0.5rem 0 0.25rem;
}

.questionNumber_question_number_wrapper__eCXI_.questionNumber_without_number__wzBhB {
  height: 2rem;
  min-width: 2rem;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.questionNumber_question_number_wrapper__eCXI_.questionNumber_without_number__wzBhB.questionNumber_ltr__n8kqK {
  padding: 0 !important;
}

.questionNumber_welcome__AtnYQ {
  background: #d8dbe0;
}

.questionNumber_welcome__AtnYQ.questionNumber_ltr__n8kqK
  .questionNumber_icon__nsjC6
  svg {
  transform: rotate(180deg);
}

.questionNumber_long_text_question__DBdLS {
  background: #c1d8ff;
}

.questionNumber_short_text_question___ITk5 {
  background: #bbc5f9;
}

.questionNumber_number_question__6yM8E {
  background: #ffa4a4;
}

.questionNumber_email_question__TSDOB {
  background: #f2adc1;
}

.questionNumber_link_question__9HK67 {
  background: #b0e8ff;
}

.questionNumber_multiple_choice_question__Qb_fe {
  background: #f4bbe1;
}

.questionNumber_picture_choice_question___LZMh {
  background: #d8e8a7;
}

.questionNumber_statement_question__pm5ku {
  background: #c6edc3;
}

.questionNumber_opinion_scale_question__7_QGT {
  background-image: linear-gradient(270deg, #f4bbe1 0, #9ee3ff 99%);
}

.questionNumber_rating_question__WxdYy {
  background: #f8e393;
}

.questionNumber_group_question__W9Tij {
  background: #d0d6e3;
}

.questionNumber_dropdown_question__BL_1f {
  background: #bfeded;
}

.questionNumber_ranking_question__Djy9o {
  background: #f8c17f;
}

.questionNumber_file_upload_question__7znwY {
  background: #98e3d5;
}

.questionNumber_payment_question__QWN7s {
  background: #a5e6bb;
}

.questionNumber_matrix_question__cW0YF {
  background: #e9e98a;
}

.questionNumber_appreciation__n01FS {
  background: #d8dbe0;
}

.questionNumber_appreciation__n01FS.questionNumber_ltr__n8kqK
  .questionNumber_icon__nsjC6
  svg {
  transform: rotate(180deg);
}

.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}

.fade-leave-active {
  position: absolute;
}

.dp__input_wrap {
  display: flex;
  justify-content: center;
}

.dp__icon.dp__clear_icon.dp__input_icons {
  display: none;
}
